<div class="flex justify-center gap-10 py-10">
  <div class="card max-w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <img src="../../../public/strawberry.jpg" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Fresas con Avena!</h2>
      <p>Disfruta las mejores fresas de la galaxia</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">5.99$</button>
      </div>
    </div>
  </div>
  <div class="card w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <img src="../../../public/strawberry2.jpg" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">(3x) Fresas con Avena!</h2>
      <p>Compra mas disfruta mas con esta promoción</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">15$</button>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center gap-10">
  <div class="card w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <img src="../../../public/cookie.webp" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Galleta</h2>
      <p>
        Disfruta una deliciosa galleta echa con avena, super nutritiva con mucha
        calidad!
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">3.99$</button>
      </div>
    </div>
  </div>
  <div class="card w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <img src="../../../public/stack-cookie.jpg" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">(7x)Pack de Galletas</h2>
      <p>La mejor oferta para galletas si tienes una obsesión con ellas 😋</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">12$</button>
      </div>
    </div>
  </div>
</div>
